.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-top: 10px;
}

.footer ul li a {
  color: #808080
}

.social-logo {
  width: 40px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-service-code {
  border: solid #808080 2px;
  padding: 10px;
  background-color: transparent;
  color: #808080;
}

.btn-service-code:hover {
  border: solid white;
  color: white;
}

.copyright {
  margin-top: 15px;
}
